.header{
    display:flex;
    justify-content: space-between;
    border: solid black 1px;
}

.logo{
    height:80px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items>ul>li{
    padding:10px;

}

.res-card{
    width:200px;
    padding: 1px;
    margin: 5px;
}

.shimmer-container{
    display:flex;
}

.shimmer-card{
    width:200px;
    height:350px;
    padding: 1px;
    margin: 5px;
    background-color: rgb(223, 213, 213);
}

.res-card:hover{
    border:1px solid black;
}

.res-logo{
    width:97%;
    margin:2px;
}

.res-container{
    display:flex;
    flex-wrap: wrap;
}

.filter-btn, .search{
    margin:10px;
    cursor:pointer
}

.login{
    margin: 0 10px;
}

.filter{
    display: flex;
}